{{#eth-driver}}
on boot
	insmod ${ro.vendor.boot.moduleslocation}/{{eth-driver}} {{eth-arg1}}
{{/eth-driver}}

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL eth0
    class main
    disabled
    oneshot
    seclabel u:r:dhcp:s0

on post-fs-data
    start dhcpcd_eth0

