service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
     class main
     disabled
     oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
     class main
     disabled
     oneshot

on property:modules.eth.ready=true
	ifup eth0
