on fs
    mkdir /dev/pstore 0700 5001 root
    mount pstore pstore /dev/pstore
    chown 5001 root /dev/pstore
    chmod 0700 /dev/pstore

on post-fs-data
   mkdir /data/dontpanic 0770 root log

service pstore-clean /system/vendor/bin/pstore-clean
    user 5001
    group log
    class late_start
    oneshot

on property:init.svc.pstore-clean=stopped
    umount /dev/pstore
    rmdir /dev/pstore
