allow bluetooth bluetooth_control:chr_file { rw_file_perms };

# access /sys/devices/bt_bcm4354
allow bluetooth sysfs_bluetooth:dir search;
allow bluetooth sysfs_bluetooth:file rw_file_perms;
allow bluetooth storage_stub_file:dir getattr;
