type sw_sync_device, dev_type;
type persist_block_device, dev_type;
type rpmb_block_device, dev_type;
type cros_ec_device, dev_type;
type hidraw_device, dev_type;
type host1x_device, dev_type, mlstrustedobject;
allow device platform_app:chr_file { ioctl };
allow device system_server:chr_file { getattr read open write };
