allow init_tmpfs system_server:file { read write };
allow init_tmpfs radio:file { read };
allow init_tmpfs platform_app:file { read };
allow init_tmpfs system_app:file { read };
allow init_tmpfs untrusted_app:file { read };
