# kdevtmpfs accesses devices before ueventd restorecon
allow kernel device: { blk_file chr_file } { create setattr };
allow kernel device:dir { create write add_name };
allow kernel self:capability mknod;
allow kernel kernel:capability sys_admin;
allow kernel kernel:system module_request;
allow kernel tmpfs:file { open relabelfrom };
allow kernel rootfs:chr_file { ioctl write };
