allow mediacodec tmpfs:lnk_file read;
dontaudit mediacodec graphics_device:dir search;
allow mediacodec surfaceflinger:fifo_file { read write };
allow mediacodec sysfs:file r_file_perms;
allow mediacodec system_file:dir r_dir_perms;
allow mediacodec device:dir r_dir_perms;
allow mediacodec host1x_device:chr_file rw_file_perms;
