allow surfaceflinger graphics_device:chr_file ioctl;
allow surfaceflinger device:chr_file ioctl;

allow surfaceflinger gpu_device:dir search;
allow surfaceflinger gpu_device:chr_file { read ioctl open write };
allow surfaceflinger gpu_device:file { read ioctl open write };
allow surfaceflinger sw_sync_device:file { read ioctl open write };
allow surfaceflinger debugfs:chr_file { read ioctl open write getattr };
allow surfaceflinger debugfs_tracing:file { read open write };
allow surfaceflinger tmpfs:chr_file write;

# surfaceflinger - display compositor service
permissive surfaceflinger;

# Talk to init over the property socket.
unix_socket_connect(surfaceflinger, property, init)

allow surfaceflinger platform_app:fd use;
allow surfaceflinger self:capability dac_override;
allow surfaceflinger system_app:fd use;
allow surfaceflinger system_server:binder { transfer call };

allow surfaceflinger proc:file write;
allow surfaceflinger servicemanager:binder call;
allow surfaceflinger untrusted_app:fd use;

allow surfaceflinger shell_exec:file { read execute open execute_no_trans };
allow surfaceflinger toolbox_exec:file { read getattr open execute };

allow surfaceflinger shell:binder call;
allow surfaceflinger toolbox_exec:file execute_no_trans;

allow surfaceflinger system_data_file:dir { write create add_name };

allow surfaceflinger app_data_file:file write;
allow surfaceflinger dumpstate:fd use;
allow surfaceflinger dumpstate:unix_stream_socket { read write };
allow surfaceflinger mediaserver:binder transfer;

allow surfaceflinger bluetooth:fd use;

allow surfaceflinger bootanim:fd use;
allow surfaceflinger bootanim:binder transfer;
allow surfaceflinger bootanim:dir search;
allow surfaceflinger bootanim:file { read getattr open };
allow surfaceflinger bootanim:dir search;
allow surfaceflinger bootanim:file { read getattr open };

# access to dev/sw_sync
allow surfaceflinger sw_sync_device:chr_file rw_file_perms;
allow surfaceflinger host1x_device:chr_file rw_file_perms;
