allow system_server tmpfs:file open;
allow system_server surfaceflinger_tmpfs:file { read write };
allow system_server efs_file:dir search;
allow system_server efs_file:file r_file_perms;
allow system_server surfaceflinger:fifo_file rw_file_perms;
allow system_server gpu_pid_stats_file:dir r_dir_perms;
allow system_server gpu_pid_stats_file:file r_file_perms;
# Allow system_server to open crash report files.
allow system_server crash_reports_data_file:dir r_dir_perms;
allow system_server crash_reports_data_file:file r_file_perms;
allow system_server host1x_device:chr_file rw_file_perms;
allow system_server zygote:process setsched;
allow system_server self:netlink_socket create_socket_perms;
allow system_server sensors_device:chr_file rw_file_perms;
allow system_server uhid_device:chr_file rw_file_perms;
allow system_server device:chr_file ioctl;
allow system_server debugfs:file { open read write };
allow system_server init:tcp_socket { getopt setopt read write };
allow system_server init:udp_socket { getopt setopt read write };
allow system_server init:process { getattr getpgid };
get_prop(system_server, wifi_region_prop)
