allow ueventd tmpfs:file open;
allow ueventd ueventd:capability sys_module;
allow ueventd device:chr_file { relabelfrom relabelto};
allow ueventd gpu_device:chr_file { relabelfrom relabelto};
allow ueventd graphics_device:chr_file { relabelfrom relabelto};
allow ueventd audio_device:chr_file { relabelfrom relabelto};
allow ueventd input_device:chr_file { relabelfrom relabelto};
allow ueventd video_device:chr_file { relabelfrom relabelto};
allow ueventd usb_device:chr_file { relabelfrom relabelto};
allow ueventd kernel:system module_request;
allow ueventd sysfs_thermal_uevent:file w_file_perms;
allow ueventd sysfs_bluetooth:file w_file_perms;
allow ueventd sysfs_socinfo:file w_file_perms;
allow ueventd system_file:system { module_load };
allow ueventd hidraw_device:chr_file { relabelfrom relabelto };
