on boot
    insmod ${ro.vendor.boot.moduleslocation}/dwc3.ko
    insmod ${ro.vendor.boot.moduleslocation}/dwc3-pci.ko
    insmod ${ro.vendor.boot.moduleslocation}/xhci-hcd.ko
    insmod ${ro.vendor.boot.moduleslocation}/xhci-pci.ko
on property:sys.usb.ffs.ready=1
    write /sys/class/usb_role/intel_xhci_usb_sw-role-switch/role "device"
