on boot
    insmod ${ro.boot.moduleslocation}/dwc3.ko
    insmod ${ro.boot.moduleslocation}/dwc3-pci.ko
    insmod ${ro.boot.moduleslocation}/xhci-hcd.ko
    insmod ${ro.boot.moduleslocation}/xhci-pci.ko
