#
# set_storage - set symlink on /dev/block/by-name
#

type set_storage, domain;

allow set_storage self:capability { fowner chown fsetid };

allow set_storage block_device:dir rw_dir_perms;
allow set_storage block_device:lnk_file create;
allow set_storage rootfs:file rx_file_perms;

# XXX setattr here can likely be dropped as it does so on the
# frp block device
allow set_storage block_device:blk_file { getattr setattr };

# chmod to system partition owner, see set_storage.c
allow set_storage frp_block_device:blk_file setattr;