on init
    chown system system /sys/class/backlight/intel_backlight/brightness
    chown system system /sys/class/backlight/acpi_video0/brightness
    export INTEL_DEBUG heur32

on post-fs-data
   #setprop debug.sf.nobootanimation 1
   mkdir /data/system 0770 system system

on boot
   chown system graphics /sys/kernel/debug/sync/sw_sync
   symlink /sys/kernel/debug/sync/sw_sync /dev/sw_sync
