/dev/sw_sync                  0666   system     mediadrm
/dev/dri                      0666   root       graphics
/dev/dri/card0                0666   root       graphics
/dev/graphics                 0660   root       graphics
/dev/graphics/fb0             0660   root       graphics
/dev/dri/controlD64           0660   root       graphics
