on init
    mkdir /mnt/eavb 0777 audioserver audio
    mkdir /mnt/eavb/misc 0777 audioserver audio
    mkdir /mnt/eavb/misc/run 0777 audioserver audio
    mkdir /mnt/eavb/misc/run/smartx 0777 audioserver audio
    mkdir /mnt/eavb/misc/audioserver 0777 audioserver audio
    mkdir /mnt/eavb/misc/eavb 0777  audioserver audio
    mkdir /mnt/eavb/avb 0777 audioserver audio

on property:persist.d6.mode=y
    setprop persist.avb.compatibility.audio d6_1722a

on property:persist.d6.mode=n
    setprop persist.avb.compatibility.audio ""

on property:persist.eavb.mode=m && property:persist.avb.clock.raw=y
    setprop persist.avb.profile.name MRB_Master_Audio_Raw

on property:persist.eavb.mode=m && property:persist.avb.clock.raw=n
    setprop persist.avb.profile.name MRB_Master_Audio

on property:persist.eavb.mode=s
    setprop persist.avb.profile.name MRB_Slave_Audio
