on init
    mkdir /mnt/eavb 0777 audioserver audio
    mkdir /mnt/eavb/misc 0777 audioserver audio
    mkdir /mnt/eavb/misc/run 0777 audioserver audio
    mkdir /mnt/eavb/misc/run/smartx 0777 audioserver audio
    mkdir /mnt/eavb/misc/audioserver 0777 audioserver audio
    mkdir /mnt/eavb/misc/eavb 0777  audioserver audio
    mkdir /mnt/eavb/avb 0777 audioserver audio

on property:persist.vendor.d6.mode=y
    setprop persist.vendor.avb.compatibility.audio d6_1722a

on property:persist.vendor.d6.mode=n
    setprop persist.vendor.avb.compatibility.audio ""

on property:persist.vendor.eavb.mode=m && property:persist.vendor.avb.clock.raw=y
    setprop persist.vendor.avb.profile.name MRB_Master_Audio_Raw

on property:persist.vendor.eavb.mode=m && property:persist.vendor.avb.clock.raw=n
    setprop persist.vendor.avb.profile.name MRB_Master_Audio

on property:persist.vendor.eavb.mode=s
    setprop persist.vendor.avb.profile.name MRB_Slave_Audio

service eth_check_service /vendor/bin/eth_check
     class main
     disabled
     oneshot

on property:vendor.modules.eth.ready=true
     ifup eth0
     start eth_check_service
