on early-boot
    # setup configfs
    mount configfs configfs /sys/kernel/config
    mkdir /sys/kernel/config/stp-policy/0-sth.default

    # masters/channels allocation
    mkdir /sys/kernel/config/stp-policy/0-sth.default/console
    write /sys/kernel/config/stp-policy/0-sth.default/console/masters {{{console_master_range}}}
    write /sys/kernel/config/stp-policy/0-sth.default/console/channels {{{console_channel_range}}}
    mkdir /sys/kernel/config/stp-policy/0-sth.default/user
    write /sys/kernel/config/stp-policy/0-sth.default/user/masters {{{user_master_range}}}
    write /sys/kernel/config/stp-policy/0-sth.default/user/channels {{{user_channel_range}}}

service npk_init /system/vendor/bin/npk_init /system/vendor/etc/npk.cfg
    # execute only once, after data is decrypted and persist properties are set
    class late_start
    oneshot

service ap_lognpk /system/vendor/bin/logd2sven
    disabled

on property:npk.cfg.update=*
    setprop persist.npk.cfg ${npk.cfg.update}
    start npk_init
