on early-boot
    # setup configfs
    mount configfs configfs /sys/kernel/config
    mkdir /sys/kernel/config/stp-policy/0-sth.default

    # masters/channels allocation
    mkdir /sys/kernel/config/stp-policy/0-sth.default/console
    write /sys/kernel/config/stp-policy/0-sth.default/console/masters {{{console_master_range}}}
    write /sys/kernel/config/stp-policy/0-sth.default/console/channels {{{console_channel_range}}}
    mkdir /sys/kernel/config/stp-policy/0-sth.default/user
    write /sys/kernel/config/stp-policy/0-sth.default/user/masters {{{user_master_range}}}
    write /sys/kernel/config/stp-policy/0-sth.default/user/channels {{{user_channel_range}}}

service vendor.npk_init /system/vendor/bin/npk_init /system/vendor/etc/npk.cfg
    # execute only once, after data is decrypted and persist properties are set
    class late_start
    oneshot

service vendor.ap_lognpk /system/vendor/bin/logd2sven
    disabled

on property:vendor.npk.cfg.update=*
    setprop persist.vendor.npk.cfg ${vendor.npk.cfg.update}
    start vendor.npk_init

{{#tcf_conf}}
service vendor.npk_tcf /system/vendor/bin/npk_tcf_services
    oneshot
    disabled
    class main
    group system root
    user root

on property:vendor.npk.tcf.enable=1
    start vendor.npk_tcf
on property:vendor.npk.tcf.enable=0
    stop vendor.npk_tcf
{{/tcf_conf}}
