on boot
    insmod ${ro.boot.moduleslocation}/mei.ko
    insmod ${ro.boot.moduleslocation}/mei-me.ko
    symlink /dev/mei0 /dev/mei
    chown system drmrpc /dev/mei
    chown system drmrpc /dev/mei0
    chmod 0660 /dev/mei
    chmod 0660 /dev/mei0
