service load_modules /vendor/bin/load_modules.sh
    user 5200
    group shell
    capabilities SYS_MODULE MKNOD
    oneshot
    disabled

{{^firststage-mount}}
on fs
{{/firststage-mount}}
{{#firststage-mount}}
on early-init
{{/firststage-mount}}
    start load_modules
