on property:sys.boot_completed=1
    setprop vendor.sys.usb.role device

on property:vendor.sys.usb.role=host
    exec -- /vendor/bin/usb_otg_switch.sh h

on property:vendor.sys.usb.role=device
    exec -- /vendor/bin/usb_otg_switch.sh p
