on post-fs-data
    mkdir /data/kpanic 0770 system system
    mkdir /data/kpanic/pstore 0770 system system
    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    write /sys/devices/platform/INT33BB:00/power/control on
    write /sys/devices/pci0000\:00/0000\:00\:15.0/power/control auto

on init
    symlink /fstab.acrn /fstab.cel_kbl_acrn

on post-fs
    #Accelerometer: X & Z inverted
    setprop ro.iio.accel.x.opt_scale    -1
    setprop ro.iio.accel.z.opt_scale    -1

    #Gyro: X & Z inverted
    setprop ro.iio.anglvel.x.opt_scale  -1
    setprop ro.iio.anglvel.z.opt_scale  -1

    #Magnetometer: X & Z inverted
    setprop ro.iio.magn.x.opt_scale    -1
    setprop ro.iio.magn.z.opt_scale    -1

on boot
    write /sys/class/gpio/export 444
    write /sys/class/gpio/gpio444/direction out
    write /sys/class/gpio/gpio444/value 1

# workaround for the sys fs create
on post-fs
   # Create trace buffer, and set basic configuration.
   mkdir /sys/kernel/debug/tracing/instances/wifi 711

on post-fs
   setprop camera.disable_treble false
