# FIXME: move these mei definitions to a mix-in

# Used by HW-backed keystore
/dev/mei                      0660   system     drmrpc

# Used by WideVine
/dev/meimm                    0660   system     drmrpc
