service vendor.camera.provider-ext /vendor/bin/hw/android.vendor.hardware.camera.provider-V1-external-service
    interface aidl android.hardware.camera.provider.ICameraProvider/external/0
    class hal
    user cameraserver
    group audio camera input drmrpc usb
    ioprio rt 4
    capabilities SYS_NICE
    task_profiles CameraServiceCapacity MaxPerformance
