# Note that this service must start as root to set up a mem-mapped region
# and once that is set up it will drop all unnecessary capabilities and
# will not show up as a root process in the steady state.
service hdcpd /system/vendor/bin/hdcpd
    class main
    user media
    group graphics drmrpc

# mkdir hdcp data folder here, non system service don't have permission
# to write in /data/
on post-fs-data
    mkdir /data/hdcp 0770 media media
