on early-init
	write /sys/block/{{device}}/bdi/read_ahead_kb {{size}}
	write /sys/block/dm-0/bdi/read_ahead_kb {{size}}
	write /sys/block/dm-1/bdi/read_ahead_kb {{size}}
	write /sys/block/dm-2/bdi/read_ahead_kb {{size}}
