on post-fs
    mkdir /dev/cpuset/non_interactive
    write /dev/cpuset/non_interactive/mems 0
    write /dev/cpuset/non_interactive/cpus 0-3
    chown system system /dev/cpuset/non_interactive
    chown system system /dev/cpuset/non_interactive/cpus

    setprop ro.vendor.powerhal.cpuset_config {{{cpuset_config}}}
on property:vendor.power_hal.niproc=*
    write /dev/cpuset/non_interactive/tasks ${vendor.power_hal.niproc}

service power_hal_helper /system/vendor/bin/power_hal_helper
    user system
    group system
    disabled
    oneshot

{{#wakelock_trace}}
on post-fs-data
    # Enable by default android java wakelock logging
    setprop wakelock.trace 1
{{/wakelock_trace}}

on property:sys.boot_completed=1
    setprop vendor.boot_completed 1

on boot
    setprop vendor.powerhal.throttle.exit 1
