# This _should_ be the very last thing that happens in
# the device's 'on post-fs-data' sections.  Since we compose
# init scripts from various snippets with mixins, we need to
# ensure this is included last in the mixin-update by listing
# disk-encryption as LAST in the mixin spec file.
on post-fs-data
    setprop vold.post_fs_data_done 1
