on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on property:support.sdcardfs.mode=y
    setprop ro.sys.sdcardfs true
    setprop persist.sys.sdcardfs force_on

on property:support.sdcardfs.mode=n
    setprop ro.sys.sdcardfs false
    setprop persist.sys.sdcardfs force_off

