on boot
    insmod ${ro.boot.moduleslocation}/rfkill-gpio.ko
    start rfkill-init

service rfkill-init /vendor/bin/rfkill-init.sh {{{force_disable}}}
    disabled
    user system
    group system
    oneshot
