service android.hardware.automotive.evs-intel_default /vendor/bin/hw/android.hardware.automotive.evs-intel_default
    class early_hal
    priority -20
    user graphics
    group automotive_evs camera
    onrestart restart cardisplayproxyd
    onrestart restart evsmanagerd

on late-init
    start android.hardware.automotive.evs-intel_default
