on init
    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    mkdir /dev/block 0755 root root
    mkdir /dev/block/bootdevice/ 0755 root root
    symlink /dev/block/pci/pci0000:00/0000:00:{{diskbus}}/by-name /dev/block/bootdevice/by-name
    symlink /dev/block/pci/pci0000:00/0000:00:{{diskbus}}/by-name /dev/block/by-name

