on early-init
    # Mount debugfs and make it writable so that debuggerd can
    # create stack traces, required with newer kernels
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc
    # Add Mesa log levels etc.

on early-boot
    # Needed by surfaceflinger to enable it to open trace_marker
    # on start without file permissions error.
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    # tracefs is mounted after 1st access to it
    chmod 0755 /sys/kernel/debug/tracing

on init
    symlink /fstab /fstab.android_ia
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    #create /lib folder if it does not exist
    mkdir /lib
    symlink /system/lib/firmware /lib/firmware

on fs
    mount_all /fstab.${ro.hardware}
    mkdir /dev/pstore 0755 root system
    mount pstore pstore /dev/pstore
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

on post-fs
    setprop ro.setupwizard.mode ENABLED
    on property:debug.egl.hw=0
	setprop ro.kernel.qemu 1

    DMIPATH=/sys/class/dmi/id
    BOARD=$(cat $DMIPATH/board_name)
    PRODUCT=$(cat $DMIPATH/product_name)
    setprop ro.product.manufacturer "$(cat $DMIPATH/sys_vendor)"
    setprop ro.product.model "$PRODUCT"

    chown system system /sys/bus/i2c/devices/i2c-ATML1000:00/power_HAL_suspend
    chown system system /sys/bus/i2c/devices/i2c-ATML1000:01/power_HAL_suspend

on post-fs-data
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/system 0775 system system

    mkdir /data/kpanic 0770 system system
    mkdir /data/kpanic/pstore 0770 system system
    mkdir /data/dontpanic 0750 root log
    mkdir /data/system 0770 system system
    mkdir /data/coreu 0770 media root
    # Create data folder for GPS
    mkdir /data/gps 0770 gps system
    mkdir /config/nfc 0770 nfc system
    mkdir /data/hdcp 0770 media media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    write /sys/devices/platform/INT33BB:00/power/control on
    write /sys/devices/pci0000\:00/0000\:00\:02.0/power/control auto

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse

    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/timer_slack
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/input_boost
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    chmod 0660 /sys/devices/system/cpu/cpufreq/interactive/io_is_busy
    # Assume SMP uses shared cpufreq policy for all CPUs
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq

    #Give permission to system to use i915_videostatus sysfs interface
    chown system system /sys/class/drm/card0/power/i915_videostatus

    setprop widi.hdcp.enable true

    # Enable abr by default for widi
    setprop widi.abr.enable true
    setprop widi.setsocketsize.enable false
    setprop widi.socketpriority.enable false

    setprop audio.offload.capabilities 1
    setprop audio.offload.min.duration.secs 20

    setprop persist.media.pfw.verbose true
    setprop camera.disable_zsl_mode 1

    setprop persist.sys.strictmode.visual 0
    setprop persist.sys.strictmode.disable 1

    # USB Gadget initialization
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 09ef
    write /sys/class/android_usb/android0/enable 1

    chmod 0660 /sys/class/tty/ttyHSU1/../../power/control
    chown system system /sys/class/tty/ttyHSU1/../../power/control
    mkdir /dev/gps 0770 gps system
    symlink /dev/ttyHSU1 /dev/gps/ttyGPS
    symlink /sys/class/tty/ttyHSU1/../../power/control /dev/gps/ttyGPSPowerControl

    write /proc/sys/net/ipv4/tcp_limit_output_bytes 1500000
    write /proc/sys/net/core/rmem_max 6291456
    write /proc/sys/net/core/wmem_max 4194304

    # change group for IPC interfaces
    chown root system /sys/devices/pci0000:00/0000:00:14.0/power/control
    chmod 0664 /sys/devices/pci0000:00/0000:00:14.0/power/control
    chown root system /sys/bus/usb/devices/2-0:1.0/port5/power/pm_qos_no_power_off
    chmod 0664 /sys/bus/usb/devices/2-0:1.0/port5/power/pm_qos_no_power_off
    chown root system /sys/devices/pci0000:00/0000:00:14.0/usb2/2-5/power/wakeup
    chmod 0664 /sys/devices/pci0000:00/0000:00:14.0/usb2/2-5/power/wakeup
    chown root system /sys/devices/pci0000:00/0000:00:14.0/ssic_port_enable
    chmod 0664 /sys/devices/pci0000:00/0000:00:14.0/power/ssic_port_enable

    chown root system /sys/bus/usb/devices/2-0:1.0/port5/usb3_lpm
    chmod 0664 /sys/bus/usb/devices/2-0:1.0/port5/usb3_lpm

    # disable HSIC port
    write /sys/bus/usb/devices/1-0:1.0/port6/power/pm_qos_no_power_off 0

    chown system graphics /sys/kernel/debug/sync/sw_sync
    symlink /sys/kernel/debug/sync/sw_sync /dev/sw_sync

    start adbd
    setprop net.eth0.startonboot true

    chown system system /sys/devices/system/cpu/intel_pstate/min_perf_pct
    chmod 0660 /sys/devices/system/cpu/intel_pstate/min_perf_pct
    chown system system /sys/devices/system/cpu/intel_pstate/max_perf_pct
    chmod 0660 /sys/devices/system/cpu/intel_pstate/max_perf_pct
    write /sys/kernel/debug/pstate_snb/setpoint 75

service wpa_supplicant /system/bin/wpa_supplicant -c/data/misc/wifi/wpa_supplicant.conf \
    -iwlan0 -Dnl80211 \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service nativebridge /system/bin/enable_nativebridge
    class main
    disabled
    oneshot

on property:sys.boot_completed=1
    write /sys/devices/system/cpu/cpufreq/interactive/boost 0
    write /sys/devices/system/cpu/cpufreq/interactive/irq_load_threshold 2
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.android_ia_64.sh init_alsa_mixer

on property:debug.logcat=1
    class_start debug

on property:persist.sys.nativebridge=1
    mkdir /data/arm 0775 system system
    start nativebridge

on property:persist.sys.nativebridge=0
    stop nativebridge

# Enable native bridge for target executables
    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc

on property:ro.enable.native.bridge.exec=1
    copy /system/vendor/etc/binfmt_misc/arm_exe /proc/sys/fs/binfmt_misc/register
    copy /system/vendor/etc/binfmt_misc/arm_dyn /proc/sys/fs/binfmt_misc/register

on property:ro.enable.native.bridge.exec64=1
    copy /system/vendor/etc/binfmt_misc/arm64_exe /proc/sys/fs/binfmt_misc/register
    copy /system/vendor/etc/binfmt_misc/arm64_dyn /proc/sys/fs/binfmt_misc/register

service watchdogd /sbin/watchdogd 10 30
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on charger
    start watchdogd

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
	-o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

service setconsole /system/bin/setconsole -g
    class main
    user root
    oneshot

service logcat /system/bin/logcat -v threadtime -f /data/log.txt
    class debug
