/sys/devices/system/cpu/cpu*     online     0664   system     system

# Camera
/dev/video*       0660  media  system
/dev/media*       0660  media  system
/dev/v4l-subdev*  0660  camera system
/dev/ipu-psys*    0660  camera system

# rfkill node
/dev/rfkill 0660 bluetooth bluetooth

#Bluedroid uhid support
/dev/uhid                                    0660 bluetooth bluetooth
/dev/ttyS*                                   0660   system     radio

# NFCC node
/dev/nfcc                                  0660 nfc nfc

# modem tty node change to radio user can read and write
/dev/gsmtty*              0660   system     radio
/dev/ttyMFD*              0660   system     radio
/dev/ttyACM*              0660   system     radio
/dev/ttyPTI1              0660   root       radio
/dev/ttyGS0               0660   root       radio
/dev/mdmTrace             0660   root       radio
/dev/mdm_ctrl*            0660   root       radio
/dev/ttyIFX0              0660   root       radio
/dev/ttyIFX1              0660   root       radio
/dev/ttyUSB*              0660   radio      radio
/dev/iio:device*          0660   system     system
/dev/radio0               0660   bluetooth  audio

/sys/devices/pci0000:00/0000:00:02.0/drm/card*/card*/intel_backlight brightness 0644 system system
