# init.rc for telephony services specific to flashless platforms using /factory partition

on init
# Used as mounting point for factory partition.
# Calibration files configuring IMEI and RF calibration will also be stored on this partition.
    mkdir /factory 0770 system system

on post-fs
    restorecon_recursive /factory
    trigger post-fs-factory
