on property:sys.boot_completed=1
    insmod ${ro.vendor.boot.moduleslocation}/snd-hwdep.ko
    insmod ${ro.vendor.boot.moduleslocation}/snd-usbmidi-lib.ko
    insmod ${ro.vendor.boot.moduleslocation}/snd-usb-audio.ko
