on late-init
    write /dev/cpuset/foreground/cpus 0-1
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-1
    write /dev/cpuset/top-app/cpus 0-1
    write /dev/cpuset/foreground/boost/cpus 0-1
