on fs
    # ro.boot.hardware = TARGET_PRODUCT (set in kernel command line
    # as androidboot.hardware). Mount all the filesystems as specified
    # in the fstab.
    {{#mountfstab-flag}}
{{#treble}}
    mount_all /vendor/etc/fstab.${ro.hardware}
{{/treble}}
{{^treble}}
    mount_all /fstab.${ro.hardware}
{{/treble}}
    {{/mountfstab-flag}}

service watchdogd /sbin/watchdogd{{#watchdog_parameters}} {{{watchdog_parameters}}}{{/watchdog_parameters}}
    user root
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on charger
    start watchdogd
{{#verity_warning}}

on init
   # Load persistent dm-verity state and detect if a restart was
   # triggered after dm-verity detected a corrupted block
   verity_load_state

on fs
   # Update dm-verity persistent state and set partition.*.verified
   # properties
   verity_update_state

on verity-logging
    exec u:r:slideshow:s0 -- /sbin/slideshow warning/verity_red_1 warning/verity_red_2
{{/verity_warning}}

{{#slot-ab}}
service abl_user_cmd_slota /vendor/bin/abl-user-cmd_vendor -s -i m1:@0
    class main
    user root
    group system drmrpc
    disabled
    oneshot

service abl_user_cmd_slotb /vendor/bin/abl-user-cmd_vendor -s -i m2:@0
    class main
    user root
    group system drmrpc
    disabled
    oneshot

on property:ota.update.abl=a
    start abl_user_cmd_slota

on property:ota.update.abl=b
    start abl_user_cmd_slotb
{{/slot-ab}}
