on early-boot
    # setup configfs
    mount configfs configfs /sys/kernel/config
    mkdir /sys/kernel/config/stp-policy/0-sth.default

    # masters/channels allocation
    mkdir /sys/kernel/config/stp-policy/0-sth.default/console
    write /sys/kernel/config/stp-policy/0-sth.default/console/masters "256 259"
    write /sys/kernel/config/stp-policy/0-sth.default/console/channels "7 10"
    mkdir /sys/kernel/config/stp-policy/0-sth.default/user
    write /sys/kernel/config/stp-policy/0-sth.default/user/masters "260 1023"
    write /sys/kernel/config/stp-policy/0-sth.default/user/channels "0 127"

service npk_init /system/vendor/bin/npk_init /system/vendor/etc/npk.cfg
    # execute only once, after data is decrypted and persist properties are set
    class late_start
    oneshot

service ap_lognpk /system/vendor/bin/logd2sven
    disabled

on property:npk.cfg.update=*
    setprop persist.npk.cfg ${npk.cfg.update}
    start npk_init
