on boot
    insmod ${ro.vendor.boot.moduleslocation}/iptable_raw.ko
    insmod ${ro.vendor.boot.moduleslocation}/ip6table_raw.ko
    write /proc/sys/net/ipv4/tcp_limit_output_bytes 1500000
    write /proc/sys/net/core/rmem_max 6291456
    write /proc/sys/net/core/wmem_max 4194304

