{{^ota-upgrade}}

{{#post_fw_update}}
service fw_update_slota /vendor/bin/cmd_fw_update_vendor -s -i m1:@0
    class main
    user system
    group system drmrpc
    disabled
    oneshot

service fw_update_slotb /vendor/bin/cmd_fw_update_vendor -s -i m2:@0
    class main
    user system
    group system drmrpc
    disabled
    oneshot

on property:vendor.ota.update.fw=a
    start fw_update_slota

on property:vendor.ota.update.fw=b
    start fw_update_slotb
{{/post_fw_update}}

{{#boot_fw_update}}

{{^post_fw_update}}
service fw_update_slota /vendor/bin/cmd_fw_update_vendor -s -i m1:@0
     class main
     user system
     group system drmrpc
     disabled
     oneshot

service fw_update_slotb /vendor/bin/cmd_fw_update_vendor -s -i m2:@0
     class main
     user system
     group system drmrpc
     disabled
     oneshot

on property:vendor.ota.update.fw=a
     start fw_update_slota

on property:vendor.ota.update.fw=b
     start fw_update_slotb
{{/post_fw_update}}

on post-fs-data
    setprop vendor.ota.update.fw ready

service fw_update /vendor/bin/fw_update.sh
    user system
    group system radio
    disabled
    oneshot

on boot && property:vendor.ota.update.fw=ready
    start fw_update

{{/boot_fw_update}}
{{/ota-upgrade}}
