{{^ota-upgrade}}
{{#post_fw_update}}
service fw_update_slota /vendor/bin/cmd_fw_update_static -s -i m1:@0
    class main
    user root
    group system drmrpc
    seclabel u:r:drmrpc:s0
    disabled
    oneshot

service fw_update_slotb /vendor/bin/cmd_fw_update_static -s -i m2:@0
    class main
    user root
    group system drmrpc
    seclabel u:r:drmrpc:s0
    disabled
    oneshot

on property:vendor.ota.update.fw=a
    start fw_update_slota

on property:vendor.ota.update.fw=b
    start fw_update_slotb
{{/post_fw_update}}
{{/ota-upgrade}}
