on post-fs-data
    mkdir /data/vendor/logs 0770 system log
    mkdir /data/vendor/logs/stats 0775 system system
    mkdir /data/vendor/logs/aplogs 0775 system log

service vendor.crashlogd /system/vendor/bin/crashlogd
    class late_start

# started by vendor/intel/log_capture/crashlog
service vendor.logsystemstate /system/vendor/bin/dumpstate_dropbox.sh -v
    disabled
    oneshot

############### Aplog generate by AOSP logpersist ###############

on property:persist.vendor.service.aplogfs.enable=0 && property:persist.vendor.service.apklogfs.enable=0
    setprop logd.logpersistd stop

on property:persist.vendor.service.aplogfs.enable=1
    setprop persist.vendor.service.apklogfs.enable 0
    setprop logd.logpersistd stop
    setprop persist.logd.logpersistd.buffer main,system,radio,events,crash
    setprop persist.logd.logpersistd logcatd

on property:persist.vendor.service.apklogfs.enable=1
    setprop persist.vendor.service.aplogfs.enable 0
    setprop logd.logpersistd stop
    setprop persist.logd.logpersistd.buffer all
    setprop persist.logd.logpersistd logcatd

on property:logd.logpersistd=""
    stop vendor.aplog

on property:logd.logpersistd=logcatd
    start vendor.aplog

on property:logd.logpersistd=clear
    stop vendor.aplog
    exec u:r:logsvc:s0 -- /vendor/bin/rm -rf /data/vendor/logs/aplogs
    mkdir /data/vendor/logs/aplogs 0775 system log

service vendor.logfs /vendor/bin/logfs.sh
    group root shell log
    class late_start
    oneshot

service vendor.aplog /vendor/bin/aplog.sh
    group root shell log
    class late_start
    oneshot
    disabled

############### Aplog generate by AOSP logpersist ###############

service vendor.earlylogs /vendor/bin/elogs.sh
    class core
    oneshot

on nonencrypted
    stop vendor.earlylogs

on property:vold.decrypt=trigger_restart_framework
    stop vendor.earlylogs

on property:persist.vendor.service.elogs.enable=1
    mkdir /cache/cache/elogs 0770 system log
    restorecon /cache/cache/elogs

on property:persist.vendor.service.elogs.enable=0
    exec -- /system/bin/rm -rf /cache/cache/elogs
